<div class="columns is-centered">
  <div class="column is-four-fifths">
    <h2 class="title">訂單狀態
      <%= content_tag :span, @order.aasm_state, class: "tag is-medium is-warning" %>
    </h2>
    <%= render 'form', order: @order %>
  </div>
</div>
