<h1 class="title">區域列表</h1>

<%= link_to new_area_path, class: 'button is-primary' do %>
  <span class="icon is-small">
    <i class="fas fa-plus"></i>
  </span>
  <span>新增地區</span>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th scope="col">地區名稱</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @areas.each do |area| %>
      <tr>
        <td><%= area.name %></td>
        <td>
          <%= link_to edit_area_path(area), class: 'button is-info is-small' do %>
            <span class="icon is-small">
              <i class="fas fa-edit"></i> 
            </span>
            <span>編輯</span>
          <% end %>

          <%= link_to area, method: 'delete', class: 'button is-danger is-small', data: { confirm: '確定要刪除嗎？' } do %>
            <span class="icon is-small">
              <i class="fas fa-trash-alt"></i>
            </span>
            <span>刪除</span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
